<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html class="theme-dark">
    <head>
        <title>Django Insurance!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    </head>
    <body>
        <section class="section">
            <h1 class="title">{{ title }}</h1>
            <h2 class="subtitle">
                {% block page_content %} {% endblock page_content%}
                {% block list_content %} {% endblock list_content %}
            </h2>
        </section>
    </body>
</html>
