<!-- customer.html -->
{% extends "base.html" %} 

<!-- the extra_script block has been added so phone number is in (###) ###- #### format on the client side-->

{% block extra_script %}
  
  <!--Note: jQuery may be needed for this to work  -->>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
            $('#id_phone_number').on('input', function() {
                var phoneNumber = $(this).val().replace(/\D/g, '');                
                
                if (phoneNumber.length === 10) {
                    phoneNumber = phoneNumber.replace(/(\d{3})(\d{3})(\d{4})/, '($1) $2-$3');
                }               
                
                $(this).val(phoneNumber);
            });
        });

  </script> 
{% endblock %}
{% block page_content %}

<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <input type="submit" value="Save" />
</form>

{% endblock %}

