<!-- customer.html template-->
{% extends "base.html" %} 

{% block page_content %}
<div class="hero-body has-text-centered">
  <p>Your quote id is: {{ quote_id }}</p>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <!-- TODO this button should clear forms data and send back to the home page -->
    <br>
    <div>
      <div>
        <a href="{% url 'home' %}" onclick="if(confirm('Are you have sure ?')){}else{return false;};">Cancel</a>
      </div> 
      <br>
            <input class="button is-light" type="submit" value="Next"/>
    </div>
    
  </form>
     

  </div>

{% endblock %}

