{% extends "base.html" %} 
{% block page_content %}

<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <input type="submit" value="Send message" />
</form>

<h1>Hello, World!</h1>

<h6>What is your first name?</h6>
<h6>What is your last name?</h6>
<h6>What is your address?</h6>
<h6>What is your zip code?</h6>
<!-- need python to validate responses. regex -->
<!-- Fill text boxes for these questions. We need to figure out how to validate the answers.-->
<h6>What is your telephone number?</h6>
<!-- input () with dashes, and validation -->

<h6>What is your email address?</h6>
<h6>Date of Birth?</h6>
<h6>What is your age</h6>
{% endblock %}
